$font_family: "Manrope", sans-serif;
$cursor_pointer: pointer;

// Font sizes
$h1: 48px;
$h2: 36px;
$h3: 38px;
$h4: 24px;
$h5: 20px;
$body_large: 18px;
$body_medium: 16px;
$body_small: 14px;
$captions: 12px;
$button_large: 16px;
$button_small: 14px;
$label: 12px;

// Font weight
$font_weight_700: 700;
$font_weight_600: 600;
$font_weight_500: 500;
$font_weight_400: 400;

// Line height
$line_height_h1: 56px;
$line_height_h2: 44px;
$line_height_h3: 36px;
$line_height_h4: 32px;
$line_height_h5: 28px;
$line_height_body_large: 28px;
$line_height_body_medium: 24px;
$line_height_body_small: 20px;
$line_height_captions: 16px;
$line_height_button_large: 24px;
$line_height_button_small: 20px;
$line_height_label: auto;