$black_clr : #000000;
$white_clr : #FFFFFF;

$primary_clr: #002F34;

$primary_txt: #1F1F1F;
$secondary_txt: #6B6B6B;

$bg_primary_clr: #F6F6F6;
$bg_secondary_clr: #F4F4F4;

// Primary Foundations
$primary_50: #E6EAEB;
$primary_100: #B0BFC0;
$primary_200: #8A9FA2;
$primary_300: #547477;
$primary_400: #33595D;
$primary_500: #002F34;
$primary_600: #002B2F;
$primary_700: #002125;
$primary_800: #001A1D;
$primary_900: #001416;

// Primary text foundations
$primary_text_50: #E9E9E9;
$primary_text_100: #BABABA;
$primary_text_200: #989898;
$primary_text_300: #696969;
$primary_text_400: #4C4C4C;

$toolTipBg:'#E9E9E9'