@use "../../Utils/variables.scss" as var;


.date-picker-wrapper {
    margin-top: 10px;
}

.ant-picker-outlined {
    border: 1px solid var.$primary_text_100;

    &:hover {
        border-color: var.$primary_text_100;
        background-color: var.$white_clr;
    }
}

.ant-picker-outlined {
    box-shadow: none;

    &:focus-within {
        box-shadow: none;
        border-color: var.$primary_text_100;
    }
}

.ant-picker-cell-inner {
    border: none;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: none !important;
}

.error-border {
    border: 1px solid red !important;
    border-radius: 6px;
}